@using  System.Globalization
@using CustomRazorComponents.Localization
@inject ICustomLocalizer CustomLocalizerInstance

<h1>external localized component</h1>

<h2>resx file: @CustomRazorComponents.Resources.Components.CustomLocalizedComponent.key1</h2>

<h2>Date: @DateTime.Now</h2>

<h1>@CustomLocalizerInstance.GetString("title")</h1>

