@using  System.Globalization

<h1>external localized component</h1>

@*<h2>localizer: @Localizer["key1"]</h2>*@
<h2>resx file: @CustomRazorComponents.Resources.Components.CustomLocalizedComponent.key1</h2>

<h2>Date: @DateTime.Now</h2>

