@using  System.Globalization

<h1>internal localized component</h1>

<h2>localizer: @Localizer["key1"]</h2>
<h2>resx file: @blazor_test_localization.Resources.Components.LocalizedComponent.key1</h2>

<h3>Date: @DateTime.Now</h3>
